#title {
    background-color: lightskyblue;
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}
.title {
    font-family: "DM Sans", sans-serif;
    font-weight:bolder;
}

h2 h3 {
    font-family: "DM Sans", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif; 
}

li {
      font-family: "Montserrat", sans-serif;
}

ul {
      font-family: "Montserrat", sans-serif;
}

body {
    background-color:lightskyblue;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.title {
    text-align:center;
}
/* Nav Bar */ 
.navbar-brand {
    font-weight: bolder;
    font-size: 2rem;
    font-family: "DM Sans", sans-serif;
    color: cornflowerblue;
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-link {
    display: flex;
    font-size: 1.2rem;
    font-family: "DM Sans", sans-serif;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.navbar-item {
    padding: 0 18px;
    font-family: "DM Sans", sans-serif;
}

a {
    color: black;
    text-decoration-color: whitesmoke;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* Hamburger Nav (when you make the screen smaller, it pops up) */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: whitesmoke;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5 px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Main section of the page with the pipette */
section {
    padding: 4rem 2rem;
    height: auto;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#pipette {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 8vh;
    padding-top: 150px;
    padding-bottom: 150px;
}

.pipette__text {
    align-self: center;
    text-align: center;
}

.pipette__text p {
    font-weight: 600;
}

.pipette__text_p1 {
    text-align: center;
    margin: 0px;
}

.pipette__text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.pipette__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Socials Section w/Icons */
#socials-container {
    display:flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons on Pipette Section */
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 12px 24px;
    width: auto;
    border-radius: 2rem;
}

.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
    font-family: "DM Sans", sans-serif;
    color: cornflowerblue;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* About Me */
#about {
    position: relative;
    margin-top: 80px;
    padding: 140px 100px 140px 100px;
    background-color: whitesmoke;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: row;
}

.about-containers, .about-details-container {
    display: flex;
    gap: 30px;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: 5rem;
    bottom: 2.5rem;
}

.info {
    margin-bottom: 1rem;
}

.details-container {
    width: 300px;
    padding: 1.7rem;
    text-align: center;
    border-radius: 20px;
    border-color: rgb (163, 163, 163);
    background: whitesmoke;
    border: 2px solid;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.section__pic-container {
    width: 350px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.section__text_p1 {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: cornflowerblue;
    font-size: 20px;
}
.pfp {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
}

/* Experience */
#experience {
    position: relative;
    padding: 140px 100px 140px 100px;
}

.experience-sub-title {
    color: black;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.details-containers {
    background: whitesmoke;
    border-radius: 25px;
    padding: 2rem;
    width: 360px;
    max-width: 360px;
    padding: 1.5rem 2rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 1.5rem;
    background: whitesmoke;
    text-align:left;
}

article .icon {
    cursor: pointer;
}

.icon2 {
    color: cornflowerblue;
}

/* Skills */
#skills {
    padding: 210px 100px 210px 100px;
    background-color: whitesmoke;
    position: relative;
    z-index: 1;
    gap: 20px;
}

.skillrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.skill-box {
    text-align: center;
    padding: 2rem;
    border-color: black;
    border-radius: 1rem;
}

.skills-container {
    width: 250px;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    gap: 100px;
    border-color: rgb(163, 163, 163);
    background: lightskyblue;
    border: 1px solid;
}

.icon {
    color:cornflowerblue;
    margin-bottom: 1rem;
}

.icon:hover {
    color: dodgerblue;
}

/* Work */
#work {
    position: relative;
    padding: 160px 100px 160px 100px;
}

.color-container {
    border-color: rgb(163,163,163);
    background:whitesmoke;
}

.project-img {
    border-radius: 1rem;
    width: 250px;
    height: 200px;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163,163,163);
}

/* Contact */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:whitesmoke;
    padding: 160px 100px 160px 100px;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border-color: black solid;
    margin: 2rem;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: black;
    border: 1px solid;
}

.contactemail {
    font-size: 32px;
    margin: 32px;
    color: lightskyblue;
}

/* Footer */
.copyright {
    background-color: lightskyblue;
    text-align:center;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.nav-link-container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-link2 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 2rem;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    display: flex;
    flex-direction:row;
    gap: 2rem;
}

/* Media Query Section */
@media screen and (max-width: 1200px) {
    #regular-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

/* Fonts */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}